<ion-navbar primary *navbar id="app-header" [hideBackButton]="header.hide_back_button">
  <ion-buttons start>
    <button *ngIf="user.isLoggedIn" outline primary>{{user.email}}</button>
    <button *ngIf="!user.isLoggedIn" outline primary (click)="showLogin()">Login</button>
  </ion-buttons>
  <ion-title *ngIf="!user.isLoggedIn">
    Welcome to the App.
  </ion-title>
  <ion-title *ngIf="user.isLoggedIn">
    App Home
  </ion-title>
  <ion-buttons end>
    <button *ngIf="user.isLoggedIn" outline warning (click)="logout()">Logout</button>
  </ion-buttons>
</ion-navbar>
